/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.main {
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Form Styles */
.form-label {
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 15px;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

/* Rating Styles */
.rating > label {
    margin-right: 4px;
  }
  
  .rating:not(:checked) > input {
    display: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
  }
  
  .rating:not(:checked) > label > svg {
    fill: #666;
    transition: fill 0.3s ease;
  }
  
  .rating > input:checked ~ label > svg {
    fill: #ffa723;
  }
  
  .rating > input:checked ~ label ~ label > svg {
    fill: #ffa723;
  }
  
  .rating:not(:checked) > label:hover ~ label > svg,
  .rating:not(:checked) > label:hover > svg {
    fill: #ff9e0b;
  }
  
  #claridad1:checked ~ label[for="claridad1"] > svg,
  #claridad1:hover ~ label[for="claridad1"] > svg {
    fill: #ef4444;
  }
  
  #claridad2:checked ~ label[for="claridad2"] > svg,
  #claridad2:hover ~ label[for="claridad2"] > svg {
    fill: #e06c2b;
  }
  
  #claridad3:checked ~ label[for="claridad3"] > svg,
  #claridad3:hover ~ label[for="claridad3"] > svg {
    fill: #eab308;
  }
  
  #claridad4:checked ~ label[for="claridad4"] > svg,
  #claridad4:hover ~ label[for="claridad4"] > svg {
    fill: #19c37d;
  }
  
  #claridad5:checked ~ label[for="claridad5"] > svg,
  #claridad5:hover ~ label[for="claridad5"] > svg {
    fill: #ab68ff;
  }
  
  #ayuda1:checked ~ label[for="ayuda1"] > svg,
  #ayuda1:hover ~ label[for="ayuda1"] > svg {
    fill: #ef4444;
  }
  
  #ayuda2:checked ~ label[for="ayuda2"] > svg,
  #ayuda2:hover ~ label[for="ayuda2"] > svg {
    fill: #e06c2b;
  }
  
  #ayuda3:checked ~ label[for="ayuda3"] > svg,
  #ayuda3:hover ~ label[for="ayuda3"] > svg {
    fill: #eab308;
  }
  
  #ayuda4:checked ~ label[for="ayuda4"] > svg,
  #ayuda4:hover ~ label[for="ayuda4"] > svg {
    fill: #19c37d;
  }
  
  #ayuda5:checked ~ label[for="ayuda5"] > svg,
  #ayuda5:hover ~ label[for="ayuda5"] > svg {
    fill: #ab68ff;
  }
  
  #facilidad1:checked ~ label[for="facilidad1"] > svg,
  #facilidad1:hover ~ label[for="facilidad1"] > svg {
    fill: #ef4444;
  }
  
  #facilidad2:checked ~ label[for="facilidad2"] > svg,
  #facilidad2:hover ~ label[for="facilidad2"] > svg {
    fill: #e06c2b;
  }
  
  #facilidad3:checked ~ label[for="facilidad3"] > svg,
  #facilidad3:hover ~ label[for="facilidad3"] > svg {
    fill: #eab308;
  }
  
  #facilidad4:checked ~ label[for="facilidad4"] > svg,
  #facilidad4:hover ~ label[for="facilidad4"] > svg {
    fill: #19c37d;
  }
  
  #facilidad5:checked ~ label[for="facilidad5"] > svg,
  #facilidad5:hover ~ label[for="facilidad5"] > svg {
    fill: #ab68ff;
  }
  