body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 800px;
  width: 100%;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #ff6600;
  padding-bottom: 10px;
}

.calificar-form .form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 1.1em;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #ff6600;
  box-shadow: 0 0 8px rgba(255, 102, 0, 0.2);
}








.emojis {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
}

.emojis input[type="radio"] {
  display: none;
}

.emojis label {
  font-size: 2em;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0 5px;
  position: relative;
}

/* Cambiar color al pasar el mouse sobre cada carita */
label[for="calidad-1"]:hover,
#calidad-1:checked + label[for="calidad-1"] {
  color: #FF0000;
}

label[for="calidad-2"]:hover,
#calidad-2:checked + label[for="calidad-2"] {
  color: #FF5500;
}

label[for="calidad-3"]:hover,
#calidad-3:checked + label[for="calidad-3"] {
  color: #FFF300;
}

label[for="calidad-4"]:hover,
#calidad-4:checked + label[for="calidad-4"] {
  color: #B2FF00;
}

label[for="calidad-5"]:hover,
#calidad-5:checked + label[for="calidad-5"] {
  color: #02B207;
}


/* Cambiar color al pasar el mouse sobre cada carita */
label[for="dificultad-1"]:hover,
#dificultad-1:checked + label[for="dificultad-1"] {
  color: #FF0000;
}

label[for="dificultad-2"]:hover,
#dificultad-2:checked + label[for="dificultad-2"] {
  color: #FF5500;
}

label[for="dificultad-3"]:hover,
#dificultad-3:checked + label[for="dificultad-3"] {
  color: #FFF300;
}

label[for="dificultad-4"]:hover,
#dificultad-4:checked + label[for="dificultad-4"] {
  color: #B2FF00;
}

label[for="dificultad-5"]:hover,
#dificultad-5:checked + label[for="dificultad-5"] {
  color: #02B207;
}

/* Mostrar la descripción solo cuando se pasa el mouse directamente sobre la carita */
.emojis label:hover::after {
  content: attr(data-descripcion);
  position: absolute;
  top: -2.5em; /* Ajusta este valor según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: #000;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  font-size: 0.5em; /* Tamaño de fuente más pequeño para el tooltip */
  z-index: 10;
}







.descripcion {
  text-align: center;
  font-size: 1em;
  color: #666;
  margin-top: 10px;
}

.si-no {
  display: flex;
  justify-content: center;
}

.si-no input[type="radio"] {
  display: none;
}

.si-no label {
  font-size: 1em;
  margin-right: 20px;
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.2s;
}

.si-no input[type="radio"]:checked + label {
  background-color: #ff6600;
  color: #fff;
  border-color: #ff6600;
}

.etiquetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.etiquetas input[type="checkbox"] {
  display: none;
}

.etiquetas label {
  display: inline-block;
  background-color: #e4e4e4;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.etiquetas input[type="checkbox"]:checked + label {
  background-color: #ff6600;
  color: #fff;
}

.pautas ul {
  padding-left: 20px;
  font-size: 0.9em;
  color: #666;
  list-style-type: disc;
}

button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #ff8c1a;
}


button:active {
  background-color: #cc5200;
}