.faq-section {
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  .faq-row {
    display: flex;
    justify-content: space-between; /* Añadido para separar los contenedores */
    align-items: flex-start;
    gap: 40px; /* Aumentar espacio entre los contenedores */
    flex-wrap: wrap;
  }
  .faq-col {
    flex: 1;
    max-width: 45%;
    box-sizing: border-box;
  }
  .faq-card {
    background-color: transparent; /* Fondo transparente */
    border-radius: 10px;
    box-shadow: none; /* Quitar sombra */
  }
  
  .faq-card-body {
    padding: 20px;
    animation: fadeIn 1s ease-in-out; /* Animación de desvanecimiento */
  }
  
  .faq-card-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    animation: fadeInLeft 1s ease-in-out; /* Animación de desvanecimiento desde la izquierda */
  }
  .faq-item {
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out; /* Animación de desvanecimiento desde abajo */
  }
  .faq-item h6 {
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #333; /* Color por defecto */
    transition: color 0.3s ease; /* Transición de color */
  }
  .faq-item h6:hover {
    color: #007bff; /* Color al pasar el ratón */
  }
  .faq-item p {
    font-size: 16px;
    color: #666;
    animation: fadeInUp 1s ease-in-out; /* Animación de desvanecimiento desde abajo */
  }
  .faq-accordion .faq-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
  .faq-accordion .faq-item:last-child {
    border-bottom: none;
  }
  .faq-accordion .accordion-button {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease; /* Transición de color */
  }
  .faq-accordion .accordion-button:hover h6 {
    color: #007bff; /* Color al pasar el ratón */
  }
  .faq-accordion .accordion-button[aria-expanded="true"] h6 {
    font-weight: bold;
  }
  
  .faq-accordion .accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Transiciones para despliegue y desvanecimiento */
    opacity: 0;
  }
  
  .faq-accordion .faq-item.active .accordion-body {
    max-height: 500px; /* Ajustar según la altura del contenido */
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Transiciones para despliegue y desvanecimiento */
  }
  
  /* Animación de desvanecimiento */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Animación de desvanecimiento desde la izquierda */
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Animación de desvanecimiento desde abajo */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }