body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0; 
  color: #333;
}


.tituloParrafo {
  color: #214773;
  font-weight: bold;
}

.tituloParrafo {
  color: #ceff0c;
  font-weight: bold;
}

.tag {
  font-size: 30px;
}

.calificacion {
  font-size: 25px;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.profesor-resumen {
  display: flex;
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profesor-info {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.promedio-container {
  font-size: 4em;
  color: #000;
}

.promedio span {
  font-size: 0.5em;
}

.promedio-container p {
  margin: 0;
}

#num-calificaciones {
  font-size: 1.2em;
  color: #555;
  margin: 10px 0;
}

.nombre {
  font-size: 3em;
  color: #ff7a00;
  font-weight: bold;
  margin: 10px 0;
}

.facultad {
  font-size: 1.2em;
  color: #555;
  margin: 10px 0;
}

.porcentaje-dificultad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.porcentaje {
  text-align: center;
  font-size: 1.2em;
  color: #000;
  margin: 5px 0;
}

.dificultad {
  text-align: center;
  font-size: 1.2em;
  color: #000;
  margin: 5px 0;
}

.porcentaje strong {
  display: block;
  font-size: 2em;
}

.dificultad strong {
  display: block;
  font-size: 2em;
}

.porcentaje {
  font-size: 1.2em;
  color: #000;
  margin: 5px 0;
}

.dificultad {
  font-size: 1.2em;
  color: #000;
  margin: 5px 0;
}

.calificar-btn {
  background-color: #ffa500;
  color: #fff;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.3em;
  margin-top: 20px;
}

.calificar-btn:hover {
  background-color: #e69500;
}

.clasificacion-etiquetas {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clasificacion {
  margin-bottom: 20px;
}

.clasificacion h2, .etiquetas h2 {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
}

.clasificacion-container, .etiquetas-container {
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: left;
}

td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
}

.bar {
  height: 20px;
  background-color: #4caf50;
  margin-right: 10px;
  border-radius: 5px;
}

.etiquetas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.etiqueta {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.calificaciones-estudiantes {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}



/* Estilos para el contenedor de comentarios */
.calificacion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para la sección de calidad y dificultad */
.calidad-resp {
  margin-bottom: 10px;
}

.dificultad-resp {
  margin-bottom: 10px;
}

.calidad-dificultad-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 90px;
  margin-right: 20px;
}

.contenido-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

/* Estilos para el contenedor de contenido */
.tomaria-denuevo {
  margin-bottom: 10px;
  font-weight: bold;
}

.fecha {
  font-style: italic;
  margin-top: 10px;
}

.texto-comentario {
  margin: 5px 0;
}

.fecha-comentario {
  font-style: italic;
  margin-top: 5px;
  font-size: 14px;
  color: #555;
  display: flex;
  flex-direction: row-reverse;
}

/* Estilos para las etiquetas */
.etiquetas-container {
  margin-top: 10px;
  align-self: flex-end; /* Alinea el contenedor al final del eje vertical */
}

.etiqueta-resp {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 3px 8px;
  margin-right: 5px;
  border-radius: 3px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}


.label span{
  font-size: 1em;
}

.valor-container {
  padding: 15px 5px;
  margin-bottom: 10px; /* Espacio entre los contenedores de valor */
  padding: 15px 5px;
}

.valor-calidad {
  background-color: #ffc107; /* Color de fondo para valor de calidad */
  color: #ffffff; /* Color de texto para valor de calidad */
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.valor-dificultad {
  background-color: #a2a4a7; /* Color de fondo para valor de dificultad */
  color: #000000; /* Color de texto para valor de dificultad */
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
