body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.question-container {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.question-header {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.question-info {
    flex-grow: 1;
}

.question-info h2 {
    margin: 0;
    font-size: 30px;
    color: #007bff;
}

.question-details {
    padding: 7px;
    margin: 10px 0;
    color: #6c757d;
    font-size: 20px;
    border: solid 1px #ced4da;
}

.question-meta {
    margin: 10px 0;
    color: #6c757d;
    font-size: 18px;
}

.tagsPost {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.tagPost {
    background-color: #e4edff;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 18px;
    color: #007bff;
}

.votes {
    text-align: center;
}

.vote-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #007bff;
}

.vote-count {
    margin: 10px 0;
    font-size: 24px;
}

.comment-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.comment-input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 20px;
    margin-right: 15px;
    font-size: 18px;
}

.comment-submit {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.comments .comment {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border: solid 1px #ced4da;
}

.comment-info {
    flex-grow: 1;
    margin-left: 30px;
}

.comment-text {
    margin: 0;
    font-size: 20px;
}

.comment-meta {
    margin: 10px 0;
    color: #6c757d;
    font-size: 18px;
}

.view-all-comments {
    text-align: center;
    margin-top: 30px;
}

.view-all-comments a {
    color: #007bff;
    text-decoration: none;
    font-size: 20px;
}

.view-all-comments a:hover {
    text-decoration: underline;
}
