html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", Segoe UI, Tahoma, sans-serif, Helvetica Neue, Helvetica;
    background-color: #f4f4f9;
    color: #404040;
}

#perfil-usuario {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.contenedor-perfil, .contenedor-metricas {
    flex: 1;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contenedor-perfil:hover, .contenedor-metricas:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 2rem;
    position: relative;
}

.perfil-usuario-portada {
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

.perfil-usuario-avatar {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -75px;
    left: calc(50% - 75px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.perfil-usuario-avatar img {
    width: 100%;
    border-radius: 50%;
}

.perfil-usuario-avatar:hover {
    transform: scale(1.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.perfil-usuario-body {
    text-align: center;
    margin-top: 100px;
}

.profile-name {
    font-size: 1.8em;
    margin-bottom: 1rem;
    color: #333;
    transition: color 0.3s ease;
}

.titulo {
    font-size: 1.5em;
    margin-bottom: 1rem;
    color: #777;
    transition: color 0.3s ease;
}

.perfil-usuario-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 3rem;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.lista-datos {
    width: 100%;
    list-style: none;
}

.lista-datos li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.lista-datos li:hover {
    background-color: #f0f0f0;
    transform: translateX(10px);
}

.lista-datos li > .icono {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    vertical-align: middle;
    flex: 0 0 auto;
}

/* Adaptación a dispositivos */
@media (max-width: 750px) {
    #perfil-usuario {
        flex-direction: column;
        align-items: center;
    }

    .contenedor-perfil, .contenedor-metricas {
        width: 100%;
    }
}

/* Transiciones y animaciones */
.perfil-usuario-avatar img,
.lista-datos li,
.perfil-usuario-footer {
    transition: all 0.3s ease-in-out;
}

.perfil-usuario-avatar img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.lista-datos li:hover {
    background-color: #f0f0f0;
    transform: translateX(10px);
}

/* Keyframes para las animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.perfil-usuario-body {
    opacity: 0;
    animation: fadeInUp 1s forwards;
}

.perfil-usuario-footer {
    opacity: 0;
    animation: fadeInUp 1s forwards 0.5s;
}
