#popular-posts-container {
    margin-top: 20px;
}

.post-author {
    font-weight: bold;
    text-decoration: dashed;

}

.activity-item {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    background-color: #fff;
    transition: border 0.5s, transform 0.5s, box-shadow 0.5s; /* Añadido box-shadow a la transición */
}

.activity-item:hover {
    border: 1px solid black; /* Efecto de borde al pasar el cursor */
    transform: scale(1.05); /* Efecto de escala al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Efecto de sombra al pasar el cursor */
}

.activity-item .activite-label {
    font-size: 0.875rem;
    color: #6a737d;
}

.activity-item .activity-badge {
    font-size: 0.75rem;
}

.activity-item .activity-content {
    margin-top: 8px;
}

.activity-item .post-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #0a58ca;
    text-decoration: none;
}

.activity-item .post-title:hover {
    text-decoration: underline;
}

.activity-item .text-muted {
    font-size: 0.875rem;
    color: #0a58ca;
}

.activity-item .post-tags {
    margin-top: 8px;
}

.activity-item .post-tags span {
    display: inline-block;
    background-color: #E4EDFF;
    color: #4E88FA;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 3px;
    font-size: 0.875rem;
}
