@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

body {
    font-family: "Baloo 2", cursive;
    font-size: 16px;
    color: #ffffff;
    text-rendering: optimizeLegibility;
}

a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

.postcard.light {
    background-color: #e1e5ea;
}

.t-dark {
    color: #18151f;
}

a {
    color: inherit;
}

h1, .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.small {
    font-size: 80%;
}

.postcard__title {
    font-size: 1.75rem;
}

.postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard__img_link {
    display: contents;
}

.postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

.postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
}

.tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
}

.tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
}

.postcard:hover .postcard__bar {
    width: 100px;
}

/* Comment label adjustment */
.comment-label {
    margin-top: 1rem;
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }

    .postcard__title {
        font-size: 2rem;
    }

    .postcard__tagbox {
        justify-content: start;
    }

    .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }

    .postcard__text {
        padding: 3rem;
        width: 100%;
    }

    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }

    .postcard:nth-child(2n+1) {
        flex-direction: row;
    }

    .postcard:nth-child(2n+0) {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }
}
